{layout="podcasts/.layout"}

{if segment_2 != ''}

{embed="podcasts/view" entry="{segment_2}"}

{if:else}

<!-- <div class="row">
	<div class="large-12 columns">
		<h1>Podcasts</h1>
	</div>
</div> -->

<div class="row">
	<div class="large-12 columns">
		<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 square-grid episode-grid">
			{exp:channel:entries channel="episodes"}
			<li class="grid-block">
				<a href="{url_title_path='podcasts'}">
					<div class="grid-image" style="background-image:url({image}{url}{/image})">
						<div class="grid-details">
							<h2 class="grid-title">{title}</h2>
						</div>
					</div>
				</a>
			</li>
			{/exp:channel:entries}
		</ul>
	</div>
</div>

{/if}