<div id="donate">

	<div class="row">

		<div class="medium-12 small-6 columns">

			<p>Like listening to Mission Control? Help keep it alive by sacrificing your coffee money.</p>

		</div>

		<div class="medium-12 small-6 columns">

			<button id="donate-btn" class="inverse" style="width:100%;"><i class="fa fa-usd"></i> Donate</button>

			<form id="paypal-frm" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="height:0;">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="TLMQDGTYFNS9Y">
				<img alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1">
			</form>

		</div>

	</div>

</div>