<div class="row">
	<div class="large-8 medium-8 columns">

		{exp:channel:entries channel="blog" url_title="{embed:entry}" limit="1"}
		<div class="row">
			<div class="large-12 columns">
				<div class="entry blog">

					<article class="entry-details">
						<header>
							<h1 class="entry-title">{title}</h1>
							<!-- <h2 class="entry-subtitle">{blog_subtitle}</h2> -->
							<h5 class="entry-date">Posted on {entry_date format="%j %F %Y"} by {author} <img src="{avatar_url}" alt="" /></h5>
						</header>

						{if hide_thumbnail != "Yes"}
						<div class="entry-image" style="background-image:url({blog_image}{url}{/blog_image});"></div>
						{/if}

						<div class="entry-content">
							{blog_content}
						</div>

						<footer>
							<div>
								<span class='st_facebook_large' displayText='Facebook'></span>
								<span class='st_twitter_large' displayText='Tweet'></span>
								<span class='st_sharethis_large' displayText='ShareThis'></span>
							</div>
						</footer>
					</article>

				</div>
			</div>
		</div>
		{/exp:channel:entries}

		<div class="row">
			<div class="large-12 columns">
				<h3>Comments</h3>
				{exp:comment:entries channel="blog" url_title="{embed:entry}" sort="asc"}
					<div class="comment">
						<div class="comment-header clearfix">
							<span class="left"><strong>{name}</strong></span>
							<span class="right">{comment_date format="%g:%i%A %j/%n/%y"}</span>
						</div>
						<div class="comment-body">
						{comment}
						</div>
					</div>
				{/exp:comment:entries}
			</div>
		</div>

		<div class="row">
			<div class="large-12 columns">
				{exp:comment:form channel="blog" url_title="{embed:entry}"}

				<h5>Post a comment</h5>

				<div class="row">
					<div class="large-4 medium-12 columns">

						<div class="row">
							<div class="large-12 columns">
								<input type="text" name="name" value="{name}" placeholder="Name" required>
							</div>
						</div>
						<div class="row">
							<div class="large-12 columns">
								<input type="text" name="email" value="{email}" placeholder="Email" required>
							</div>
						</div>

					</div>

					<div class="large-8 medium-12 columns">

						<div class="row">
							<div class="medium-12 columns">
								<textarea name="comment" rows="4">{comment}</textarea>
							</div>
						</div>
						<div class="row">
							<div class="medium-12 columns clearfix">
								<input type="checkbox" name="notify_me" value="yes" {notify_me}><label>Subscribe to these comments?</label>
								<button class="right" type="submit" name="submit">Submit</button>
							</div>
						</div>

					</div>
				</div>

				{if comments_disabled}

				<p><i class="fa fa-ban"></i> Comments have been disabled for this entry</p>

				{/if}

				{/exp:comment:form}

			</div>
		</div>

	</div>

	<div class="large-4 medium-4 columns">
		<div id="sidebar">
		{embed="_sidebar/mailing-list"}
		{embed="_sidebar/donate"}
		</div>
	</div>

</div>